@charset "UTF-8";
/*durée de l'animation spinner ouverture page acceuil */
/* Délai du retart de l'animation spinner */
/* durée du spinner */
body {
  /*desktop*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", "Arial", "sans-serif";
  margin: auto;
  height: auto;
  max-width: 996px;
  margin: auto;
  position: relative;
}
body h1 + h3 {
  font-family: Shrikhand;
  font-size: 50px;
  color: black;
  text-decoration: none;
  justify-content: center;
}

p {
  margin: 0px;
  font-size: 15px;
  color: #0e0d0d;
}

main {
  display: flex;
  position: relative;
  border: white;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

#cont {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}
footer h2 {
  font-family: Shrikhand;
  margin: 2px;
  color: white;
  font-size: 20px;
  padding-left: 10px;
}
footer p {
  color: white;
  margin: 10px 0px 10px 10px;
  font-size: 20px;
}

.lien_icone {
  display: flex;
  align-items: center;
}

.Icone_footer {
  display: flex;
  box-sizing: border-box;
  /* la taille est idépendante dde celle du contenu */
  padding-left: 15px;
  width: 30px;
}
.Icone_footer p {
  margin: 15px 0px 10px 10px;
}
.Icone_footer i {
  box-sizing: content-box;
  padding-top: 5px;
}

.contacter {
  cursor: pointer;
}
.contacter:active + .formulaire {
  transition: transform 50ms ease-in-out;
  transform: scale(1);
  z-index: 40;
}

/********************************smarphone ****************************************/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}
header h1 {
  font-family: Shrikhand;
  font-size: 30px;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.nounderline:link {
  text-decoration: none;
  /* interdit le soulignement d'un texte dans une structure de lien des hébergements */
}

.loading_spinner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* 1.0 - opaque */
  opacity: 1;
  z-index: 100;
  animation: apparence 3s;
  opacity: 0;
  z-index: -1;
}

@keyframes apparence {
  0% {
    z-index: 100;
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    z-index: 100;
    opacity: 0;
  }
}
.cube {
  animation: Rotation 2s 1s;
  /* durée de l'animation 8 secondes  retard 100mx  */
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /*left:40%;
  top:100px; */
  height: 70px;
  width: 70px;
  border-bottom: 10px #4fe94f solid;
  border-top: 10px #260080 solid;
  border-right: 10px #260080 solid;
  border-left: 10px #260080 solid;
  border-radius: 150px;
  opacity: 0;
  z-index: -1;
}

@keyframes Rotation {
  0% {
    /*transform: translate3d(-40%, -50%, 0) rotate(0deg);*/
    transform: scale(0.1) rotate(0deg);
    opacity: 1;
    z-index: 100;
  }
  50% {
    /* transform: translate3d(-40%, -50%, 0) rotate(360deg);*/
    transform: scale(0.9) rotate(1800deg);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    /* transform: translate3d(-40%, -50%, 0) rotate(360deg);*/
    transform: scale(0.1) rotate(0deg);
    opacity: 0;
    z-index: 100;
  }
}
@media screen and (min-width: 768px) {
  .cube {
    left: 40%;
    top: 500px;
    height: 140px;
    width: 140px;
  }
}
@keyframes animation_menu {
  0% {
    transform: translatey(50%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.otf") format("OPENtype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto-Bold.ttf") format("TrueYype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto-Regular.ttf") format("TrueYype");
  font-weight: normal;
  font-style: normal;
}
.Bouton_Choix {
  display: flex;
  height: 80px;
  border-radius: 20px;
  width: 75%;
  margin: 20px;
  border: none;
  padding-top: 0px;
  box-shadow: 3px 3px 10px #cccccc;
  background-color: #f1eeee;
  align-items: center;
  transform: scale(1);
  transition: transform 500ms;
}
.Bouton_Choix:hover {
  background-color: #f5edff;
}
.Bouton_Choix:hover i {
  color: #9356dc;
}
.Bouton_Choix span strong {
  font-size: 14px;
  margin-left: 15px;
  font-family: "Roboto", "Arial", "sans-serif";
}
.Bouton_Choix i {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}
.Bouton_Choix:active {
  /*transform:scale(0.5);*/
  transition: transform 500ms ease-in;
  transform: scale(0.9);
  box-shadow: 20px 10px 20px #cccccc;
}

@media screen and (min-width: 768px) {
  .Bouton_Choix {
    width: 50%;
  }
  .Bouton_Choix i {
    font-size: 20px;
  }
  .Bouton_Choix span {
    font-size: 20px;
  }
}
.Bouton_Nouveau {
  display: flex;
  position: absolute;
  /* classe du bouton nouveau */
  background-color: #60e2d1;
  color: rgba(31, 150, 104, 0.822);
  font-weight: bold;
  position: absolute;
  right: 10%;
  top: 10%;
  padding: 3px;
  border-radius: 1px;
  font-size: 9px;
  padding: 1px 5px 1px 5px;
}

.Bouton1 {
  background: linear-gradient(180deg, #9356DC, #FF79DA 35%, #8f2e8f 100%);
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", "Arial", "sans-serif";
  font-weight: bold;
  font-size: 13px;
  box-shadow: 5px 5px 10px #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.Bouton1:hover {
  background: linear-gradient(0deg, #9356DC, #FF79DA 35%, #8f2e8f 100%);
}
.Bouton1:active {
  /*transform:scale(0.5);*/
  transition: transform 50ms ease-in-out;
  transform: scale(0.9);
  box-shadow: 20px 10px 20px #bfc0bfe1;
  background: linear-gradient(10deg, #30df79 0%, #30df79 35%, #30df79 100%);
  background: linear-gradient(0deg, #9356DC, #FF79DA 905%, #8f2e8f 100%);
}

.formulaire {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  left: 35%;
  top: 35%;
  z-index: -20;
  flex-direction: column;
  width: 300px;
  height: auto;
  border: 1px red solid;
  background-color: aliceblue;
  transition: transform 50ms ease-in-out;
  transform: scale(0.1);
}
.formulaire.envoi:active {
  transition: transform 50ms ease-in-out;
  transform: scale(0.1);
  z-index: -20;
}

.paragraphe {
  margin: 5%;
}

.message {
  margin: 5%;
}

.envoi {
  align-items: center;
}

.Banniere_description {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}
.Banniere_description h3 {
  font-size: 18px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
.Banniere_description p {
  font-size: 15px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  margin-top: 2px;
  margin-bottom: 2px;
}

.Banniere_Image {
  /* ------ Banniere image hotel 1 ---------------*/
  height: 180px;
  width: 100%;
  /* border:1px rgb(226, 33, 49) solid;   bour debug*/
  margin-bottom: 0px;
  border-radius: 10px 10px 1px 1px;
  object-fit: cover;
}
.Banniere_Image h3 {
  font-size: 18px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Banniere_Image p {
  /* mise en forme fonte gerale h3 de la description de l'holet */
  font-size: 15px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  margin-top: 2px;
  margin-bottom: 2px;
}

.Bulle {
  box-sizing: border-box;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border: 3px solid #9356DC;
  padding-top: 0px;
  border-radius: 15px;
  text-align: center;
  margin-left: -15px;
}

@media screen and (min-width: 768px) {
  .Bulle {
    padding-bottom: 2px;
    width: 30px;
    height: 30px;
  }
}
.Choix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.Choix h3 {
  margin-left: 15px;
  font-size: 20px;
}

.Classement {
  /* ------------------- Container coup de coeur ----------------------*/
  display: flex;
  position: relative;
  padding-top: 5px;
  font-size: 25px;
  padding-right: 10px;
  width: 24px;
  margin-bottom: 25px;
  background: none;
  cursor: pointer;
}
.Classement:hover .dessus {
  transition: color 0.5s ease;
  color: transparent;
}
.Classement:hover .dessous {
  transition: opacity 0.5s;
  z-index: 1;
  opacity: 1;
}

.dessus {
  position: absolute;
  top: 0;
  transition: opacity 0.5s;
  opacity: 1;
  color: black;
}

.dessous {
  position: absolute;
  transition: opacity 0.5s;
  top: 0;
  background: linear-gradient(217deg, #9356DC, #FF79DA 70.71%), linear-gradient(127deg, #9356DC, #FF79DA 70.71%), linear-gradient(336deg, #FF79DA, #99E2D0 80.71%);
  /* Background-clip: text;*/
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.Container {
  position: relative;
  width: 100%;
}

.Decouverte {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Explore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #f1eeee;
  text-align: center;
  padding-bottom: 40px;
}
.Explore h3 {
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5px;
}

.Liste_Restaurant {
  /* Container Hebergement à  Marseille  ( fond gris)  */
  color: black;
  flex-direction: column;
  justify-content: space-between;
  text-decoration-line: none;
  /* interdit le soulignement d'un texte dans une structure de lien */
  padding: 20px;
  background-color: #f2f2f2;
}
.Liste_Restaurant .Titre1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: gainsboro;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
.Localisation i {
  margin-right: 20px;
}
.Localisation .milieu {
  display: flex;
}

.Nav_Item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #Restaurants {
    /* ensemble des 4 restaurants sélectionnés */
    /* display: flex;*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1px;
  }
}
@media screen and (min-width: 768px) {
  #Restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}
.Restaurant1 {
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px #cccccc;
  height: 250px;
}
.Restaurant1:active {
  transition: transform 500ms ease-in;
  transform: scale(0.9);
  box-shadow: 20px 10px 20px #cccccc;
}

@media screen and (max-width: 768px) {
  .Restaurant1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Elargi le container image à 100% du containeur  hotle à marseille*/
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .Restaurant1 {
    margin-left: 5px;
    margin-right: 5px;
    width: 40%;
  }
}
.Titre1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* scss relatif aux restaurant */
.choix_menu {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
  opacity: 0;
}
.choix_menu.animation_menu__t1 {
  animation: animation_menu 500ms 0.1s;
  animation-fill-mode: forwards;
  /* permet de maintenir l'animation dans son etat final suit au keyframe*/
}
.choix_menu.animation_menu__t2 {
  animation: animation_menu 500ms 0.2s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t3 {
  animation: animation_menu 500ms 0.3s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t4 {
  animation: animation_menu 500ms 0.4s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t5 {
  animation: animation_menu 500ms 0.5s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t6 {
  animation: animation_menu 500ms 0.6s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t7 {
  animation: animation_menu 500ms 0.7s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t8 {
  animation: animation_menu 500ms 0.8s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t9 {
  animation: animation_menu 500ms 0.9s;
  animation-fill-mode: forwards;
}
.choix_menu.animation_menu__t10 {
  animation: animation_menu 500ms 1s;
  animation-fill-mode: forwards;
}
.choix_menu p {
  font-size: medium;
  margin: 5px;
}
.choix_menu:hover .validation {
  margin-right: 1px;
  transition-duration: 0.5s;
  transform: translatex(2px);
  margin-right: 0px;
  /* translation vers la gauche du container validation */
  /* translation vers la gauche du container validation */
}
.choix_menu:hover .icone {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  transition-delay: 0.2s;
}

.shadow {
  box-shadow: 3px 3px 10px #cccccc;
}

.commander {
  display: flex;
  justify-content: center;
  background-color: #f1eeee;
}
.commander .Bouton1 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.Enseigne {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.Enseigne i {
  font-size: 30px;
  color: black;
}

.Entete {
  display: flex;
  justify-content: center;
}
.Entete i {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.Site {
  width: 100%;
  justify-content: center;
}

.icone {
  transition-duration: 200ms;
  transform: rotate(190deg);
  background-color: #99E2D0;
  color: white;
}

.Image_plat {
  /* ------ Banniere image hotel 1 ---------------*/
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 40vh;
}

header h1 {
  color: black;
}

@media screen and (max-width: 768px) {
  .Image_plat {
    height: 40vh;
  }
}
.item_plats {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.item_plats p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.Plats {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*padding-left:$marge_interieure_gauche_generale;
  padding-right:$marge_interieure_droite_generale;*/
  background-color: #f1eeee;
}
.Plats__surligne {
  position: relative;
  padding-bottom: 5px;
  margin-left: 10px;
}
.Plats__surligne::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 38px;
  height: 4px;
  background-color: #99E2D0;
}

@media screen and (min-width: 768px) and (max-width: 2024px) {
  .Plats {
    width: 33%;
  }

  #cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    background-color: #f1eeee;
  }
}
.presentation_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -90px;
  width: 100%;
}

/* Page Restaurant presentation */
.Presentation {
  display: flex;
  flex-direction: row;
  height: 80px;
  text-align: center;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f1eeee;
  margin-top: 10px;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-between;
}
.Presentation h2 {
  font-family: Shrikhand;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
.Presentation i {
  font-size: 20px;
  margin-top: 20px;
}

.prix {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
  text-align: center;
  margin-right: 2px;
}

.retour_site_principal {
  display: flex;
  height: 100%;
  width: 40%;
  text-align: center;
  justify-items: center;
  border-color: red;
  background-color: antiquewhite;
}

.validation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  /*transition: transform 0.4s ease-in-out;*/
  transition-duration: 0.5s;
  color: white;
  width: 40px;
  margin-right: -40px;
}/*# sourceMappingURL=main.exp.css.map */