@charset "UTF-8";
@-webkit-keyframes animation_menu {
  0% {
    transform: translatey(50%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes animation_menu {
  0% {
    transform: translatey(50%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("/polices/Shrikhand-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.Bouton_Choix {
  display: flex;
  height: 70px;
  width: 80%;
  justify-content: left;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  border: none;
  padding: 25px 10px 20px 10px;
  box-shadow: 3px 3px 10px #cccccc;
  background-color: #f1eeee;
  transform: scale(1);
  transition: transform 500ms;
}
.Bouton_Choix:hover {
  background-color: #f5edff;
}
.Bouton_Choix:hover i {
  color: #9356dc;
}
.Bouton_Choix span {
  font-size: 14px;
  margin-left: 15px;
}
.Bouton_Choix i {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}
.Bouton_Choix:active {
  /*transform:scale(0.5);*/
  transition: transform 2s ease-in_out;
  transform: scale(0.9);
  box-shadow: 20px 10px 20px #cccccc;
}

.Bouton_Nouveau {
  display: flex;
  position: relative;
  /* classe du bouton nouveau */
  background-color: #60e2d1;
  color: rgba(31, 150, 104, 0.822);
  font-weight: bold;
  position: absolute;
  left: 75%;
  bottom: 80%;
  border-radius: 5px;
}
.Bouton_Nouveau p {
  font-size: 11px;
  padding: 1px 5px 1px 5px;
}

.Bouton1 {
  background-color: fuchsia;
  background: linear-gradient(170deg, fuchsia 0%, fuchsia 35%, #8f2e8f 100%);
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border-color: fuchsia;
  color: white;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 5px 5px 10px #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.Bouton1:hover {
  background: linear-gradient(10deg, fuchsia 0%, fuchsia 35%, #8f2e8f 100%);
}
.Bouton1:active {
  /*transform:scale(0.5);*/
  transition: transform 50ms ease-in_out;
  transform: scale(0.9);
  box-shadow: 20px 10px 20px #bfc0bfe1;
  background: linear-gradient(10deg, #30df79 0%, #30df79 35%, #30df79 100%);
  color: black;
}

.Icone_Main {
  position: relative;
  left: 30%;
  bottom: 25%;
  font-size: 35px;
}

.Banniere_description {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}
.Banniere_description h3 {
  font-size: 18px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Banniere_description p {
  font-size: 15px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  margin-top: 2px;
  margin-bottom: 2px;
}

.Banniere_Image {
  /* ------ Banniere image hotel 1 ---------------*/
  height: 180px;
  width: 100%;
  /* border:1px rgb(226, 33, 49) solid;   bour debug*/
  margin-bottom: 0px;
  border-radius: 10px 10px 1px 1px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Banniere_Image h3 {
  font-size: 18px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Banniere_Image p {
  /* mise en forme fonte gerale h3 de la description de l'holet */
  font-size: 15px;
  /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
  margin-top: 2px;
  margin-bottom: 2px;
}

.Bulle {
  box-sizing: content-box;
  color: white;
  background-color: #9356dc;
  width: 15px;
  height: 15px;
  border: 1px solid #9356dc;
  border-radius: 15px;
  margin-left: -15px;
}

.Choix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.Choix h3 {
  margin-left: 15px;
  font-size: 20px;
}

.Classement {
  /* ------------------- Container coup de coeur ----------------------*/
  position: relative;
  padding-top: 5px;
  font-size: 25px;
  padding-right: 10px;
}
.Classement span {
  color: #9356dc;
}
.Classement:active {
  background-color: #9356dc;
}

.Container {
  position: relative;
  width: 100%;
}

.Decouverte {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Explore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #f1eeee;
  text-align: center;
  padding-bottom: 40px;
}
.Explore h3 {
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5px;
}

.Liste_Restaurant {
  /* Container Hebergement à  Marseille  ( fond gris)  */
  color: black;
  flex-direction: column;
  justify-content: space-between;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /* interdit le soulignement d'un texte dans une structure de lien */
  padding: 20px;
  background-color: #f2f2f2;
}
.Liste_Restaurant .Titre1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: gainsboro;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Localisation i {
  margin-right: 20px;
}
.Localisation .milieu {
  display: flex;
}

.Nav_Item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;
}

#Restaurants {
  /* ensemble des 6 hotels sélectionnés */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1px;
}

.Restaurant1 {
  /* Premier hotel de marseilles smartphone  */
  /*    border:1px rgb(206, 137, 35) solid; */
  flex-direction: column;
  width: 100%;
  /* Elargi le container image à 100% du containeur  hotle à marseille*/
  height: 250px;
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px #cccccc;
}

.Titre1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

/********************************desktop ****************************************/
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  height: auto;
  max-width: 768px;
  margin: 0px 20px 0px 20px;
  position: relative;
}
body h1 {
  font-family: Shrikhand;
  font-size: 50px;
  color: black;
  text-decoration: none;
  justify-content: center;
}

p {
  margin: 0px;
  font-size: 15px;
  color: #0e0d0d;
}

/********************************smarphone ****************************************/
@media screen and (max-width: 376px) {
  /* smarphone */
  body {
    width: 375px;
    margin: 0px;
  }
}
#page {
  display: flex;
  align-items: center;
  max-width: 768px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}
footer h2 {
  font-family: Shrikhand;
  margin: 2px;
  color: white;
  font-size: 20px;
}
footer p {
  color: white;
  margin: 10px, 0, 10px, 10px;
}

.lien_icone {
  display: flex;
  justify-content: flex-start;
}
.lien_icone i {
  box-sizing: content-box;
  font-size: 10px;
  padding-top: 5px;
  padding-right: 20px;
  margin-right: 5px;
}

.Icone_footer {
  box-sizing: border-box;
  /* la taille est idépendante dde celle du contenu */
  width: 30px;
}

/********************************smarphone ****************************************/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}
header h1 {
  font-family: Shrikhand;
  font-size: 50px;
  color: black;
  text-decoration: none;
}

.nounderline:link {
  text-decoration: none;
  /* interdit le soulignement d'un texte dans une structure de lien des hébergements */
}

/* scss relatif aux restaurant */
.Image_plat {
  /* ------ Banniere image hotel 1 ---------------*/
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 300px;
}

header h1 {
  color: black;
}

.presentation_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -90px;
  width: 100%;
}

/* Page Restaurant presentation */
.Presentation {
  display: flex;
  flex-direction: row;
  height: 80px;
  text-align: center;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f1eeee;
  margin-top: 10px;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-between;
}
.Presentation h2 {
  font-family: Shrikhand;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
.Presentation i {
  font-size: 20px;
  margin-top: 20px;
}

.choix_menu {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
  -webkit-animation: animation_menu 500ms;
          animation: animation_menu 500ms;
}
.choix_menu p {
  font-size: medium;
  margin: 5px;
}
.choix_menu:hover .prix__val {
  margin-right: 1px;
  transition: transform 0.4s ease-in_out;
  transform: translatex(2px);
  /* translation vers la gauche du container validation */
}
.choix_menu:hover.icone {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in_out;
  transition-delay: 0s;
}

.shadow {
  box-shadow: 3px 3px 10px #cccccc;
}

.Plats {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f1eeee;
}
.Plats__surligne {
  position: relative;
  padding-bottom: 5px;
  margin-left: 10px;
}
.Plats__surligne::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 38px;
  height: 4px;
  background-color: #99E2D0;
}

.Entete {
  display: flex;
  justify-content: flex-center;
}
.Entete i {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.Site {
  width: 100%;
  justify-content: center;
}

.Enseigne {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.Enseigne i {
  font-size: 30px;
}

.retour_site_principal {
  display: flex;
  height: 100%;
  width: 40%;
  text-align: center;
  justify-items: center;
  border-color: red;
  background-color: antiquewhite;
}

.item_plats {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.item_plats p {
  text-overflow: ellipsis;
}

.commander {
  display: flex;
  justify-content: center;
}
.commander .Bouton1 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.icone {
  transition-duration: 1s;
  transform: rotate(190deg);
  background-color: #99E2D0;
  color: white;
}

.validation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  color: white;
  width: 40px;
}

.prix {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
  text-align: center;
  margin-right: 2px;
}

.prix__val {
  display: flex;
  flex-direction: row;
  transition-duration: 1s;
  transform: translatex(40px);
  /* 40 px pour animation */
}/*# sourceMappingURL=main.exp.css.map */