.Image_plat{        /* ------ Banniere image hotel 1 ---------------*/
     
    width: 100%;
    object-fit:cover;
    position:relative;
    height:300px;
}
header h1{
    color:$colour_Titre_site;
}