.item_plats{
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content:flex-start; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor:pointer; 
   & p{ 
    text-overflow: ellipsis;
    overflow: hidden; 
 
}
}