.Bouton1{
     
   
    background: linear-gradient(180deg,$colour_fond_boutton_prim,$colour_fond_boutton_second 35%, rgb(143, 46, 143) 100%);
    
    
    height:50px;
    width:200px;
    border-radius:25px;
   /* border-color: fuchsia ;*/
    color:white;
    font-family: "Roboto","Arial","sans-serif"; 
    font-weight:bold;
    font-size: 13px;
    box-shadow: 5px 5px 10px rgb(204, 204, 204);
    margin-top: 10px;
    margin-bottom: 10px;
    cursor:pointer;
     
    &:hover{
    background: linear-gradient(0deg, $colour_fond_boutton_prim  ,$colour_fond_boutton_second 35%, rgb(143, 46, 143) 100%);
    }
    &:active{
    
        /*transform:scale(0.5);*/
          @include Animation_Btn_Eplore;     
}
    
}