.Bouton_Nouveau{   
    display:flex;
    position:relative;                                           /* classe du bouton nouveau */
    background-color: rgb(96, 226, 209);
    color :rgba(31, 150, 104, 0.822);
    font-weight: bold;
    position:absolute;
    left:70%;
    bottom: 80%;
    border-radius:5px;
    p {
        font-size: 11px;
        padding:1px 5px 1px 5px;
    }    
    }