.Bouton_Nouveau{   
    display:flex;
    position:absolute;                                           /* classe du bouton nouveau */
    background-color: rgb(96, 226, 209);
    color :rgba(31, 150, 104, 0.822);
    font-weight: bold;
    position:absolute;
    right:10%;
    top: 10%;
    padding:3px;
    border-radius:1px;
    font-size: 9px;
    padding:1px 5px 1px 5px;
       
}