.Bouton_Choix{
    display: flex; 
    height:80px;
    border-radius:20px;
    width:50%;
    margin:30px;
    border:none;
    padding-top:30px;  
    box-shadow: 3px 3px 10px rgb(204, 204, 204); 
    background-color:$colour_fond_gris_boutonchoix;
    transform:scale(1);
    transition:transform 500ms;
    &:hover{
        background-color: $colour_fond_mauve_boutonchoix;
        &   i{
            color:$colour_bulle;
        }
    }
    & span strong{
        font-size:14px;
        margin-left: 15px;
    }  
    & i{
    font-size: 15px;    
    padding-left:10px;
    padding-right:10px;
    color:black;
    }
    &:active{
        /*transform:scale(0.5);*/
          @include Animation_Btn_Choix; 
    }
    
}
@media screen and (max-width: 376px){
    .Bouton_Choix{
width:80%;
    }
}