.loading_spinner{
   position:fixed;
  left:0;
  top:0; 
  height:100%;
  width:100%; 
  display:flex; 
  justify-content: center;
  align-items:center;
  background-color: rgba(255, 255, 255, 1.0); /* 1.0 - opaque */
  opacity: 1;
  z-index: 100; 
  animation:apparence $Temps_animation_acceuil;
  opacity: 0;
  z-index: -1;
   
}
@keyframes apparence{
   
  0%{
    z-index: 100; 
    opacity: 0.9;
     
 }
   
  90%{
    opacity: 0.8;
  } 
  100%  {
    z-index: 100; 
    opacity:0;
   
}
}

.cube{
    animation:Rotation $Temps_spinner $Tempsretard_spinner;           /* durée de l'animation 8 secondes  retard 100mx  */
    animation-timing-function:linear;  
    
    animation-iteration-count: 1;
    /*left:40%;
    top:100px; */
    height:70px;
    width:70px;
    border-bottom:10px   rgb(79, 233, 79) solid;
    border-top:10px   rgb(38, 0, 128) solid;
    border-right:10px   rgb(38, 0, 128) solid;
    border-left:  10px   rgb(38, 0, 128) solid;
    border-radius:150px;
    opacity: 0;
    z-index:-1;
     
  }
  
  @keyframes Rotation {
        0% {
          /*transform: translate3d(-40%, -50%, 0) rotate(0deg);*/
          transform:scale(0.1) rotate(0deg);
          opacity: 1;
          z-index:100;
        }

        50% {
          /* transform: translate3d(-40%, -50%, 0) rotate(360deg);*/
          transform: scale(0.9) rotate(1800deg);
          opacity: 1;
         
         }
         99% {
           
          opacity: 1;
           
         }
        100% {
         /* transform: translate3d(-40%, -50%, 0) rotate(360deg);*/
         transform: scale(0.1) rotate(0deg);
          
         opacity:0;
         z-index:100;
        }
      } 
@media screen and (min-width:$Resolution_basse) {
  .cube{
    left:40%;
    top:500px; 
    height:140px;
    width:140px;

  }
} 