@font-face {
    font-family: 'Shrikhand';
    src: url('../polices/Shrikhand-Regular.otf') format('OPENtype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto-Bold.ttf') format('TrueYype');
    font-weight: bold;
    font-style: normal;
}   
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto-Regular.ttf') format('TrueYype');
    font-weight: normal;
    font-style: normal;
}   