$colour_fond_boutton: fuchsia;
$colour_bulle: #9356dc;
$colour_fond_gris_header: white;
$colour_fond_localisation: gainsboro;
$colour_fond_Explore: #f1eeee;
$colour_fond_gris_boutonchoix: $colour_fond_Explore;
$colour_fond_mauve_boutonchoix: #f5edff;
$colour_Titre_site:black;
$colour-Validation:#99E2D0;
$marge_interieure_gauche_generale:10px;
$marge_interieure_droite_generale:10px;