.Bulle {
 
  box-sizing: border-box;
  color:white;
  background-color:$colour_fond_boutton_prim ;
  width: 25px;
  height:25px;
  border :1px solid $colour_fond_boutton_prim;
  padding-top:3px;
  border-radius:15px;
  
  margin-left:-15px;
}
 