.Bulle {
 
  box-sizing: border-box;
  color:white;
  background-color:#9356dc ;
  width: 25px;
  height:25px;
  border :1px solid #9356dc;
  padding-top:3px;
  border-radius:15px;
  
  margin-left:-15px;
}