.Classement {
  /* ------------------- Container coup de coeur ----------------------*/
  position: relative;
  padding-top: 5px;
  font-size: 25px;
  padding-right: 10px;
  & span {
    color: #9356dc;
  }
  &:active{
    background-color:#9356dc ;
  }
}
