.Banniere_description {
    display:flex;
    justify-content: space-between;
    margin-right:10px;
    margin-left:10px;
    & h3{
        font-size: 18px;                /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
        font-weight: bold;
        margin-top:5px;
        margin-bottom: 5px;; 
   } 
   & p{
    font-size: 15px;            /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
    margin-top:2px;
    margin-bottom: 2px;
   }
}