@media screen and (max-width: 376px) {
#Restaurants {
  /* ensemble des 4 restaurants sélectionnés */
 /* display: flex;*/
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 1px;
}

 
}
@media screen and (min-width: 376px) {
#Restaurants{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
 flex-direction:row;
  
}
}